/* Global Styles */
body {
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style-type: none;
}

/* Layout and Structure */
section {
  padding: 20px;
}

h1 {
  font-size: 3rem; /* Adjust size as needed */
  font-family: "Noto Sans", sans-serif;
}

/* Typography */
h2 {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem; /* Adjust size as needed */
}

/* Components and Reusable Elements */

#about {
  background-color: rgba(240, 248, 255, 0.5); /* AliceBlue with 50% opacity */
  border-radius: 5px; /* Optional: adds rounded corners */
  padding: 20px; /* Optional: adds some padding inside the background */
}

#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button 20px from the bottom */
  right: 20px; /* Place the button 30px from the right */
  background: transparent; /* Make the background transparent */
  border: none;
}

#myBtn img {
  max-width: 50px; /* Limit the width of the image */
  max-height: 50px; /* Limit the height of the image */
  width: 100%; /* Make the image fill the button */
  height: auto; /* Keep the image's aspect ratio */
  cursor: pointer;
}

/* Specific Element Styles */
.card-text li {
  background-image: url("../images/catFace2.png");
  background-repeat: no-repeat;
  background-size: 15px 15px; /* Adjust as needed */
  padding-left: 25px; /* Adjust based on image size */
  background-position: left center;
}

.forkIcon {
  font-size: 50px;
}

.selfie {
  border: 3px solid black;
  padding: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  border-radius: 10px;
}

.headerImage {
  background-image: url("../images/yo.jpeg");
  background-size: cover;
  background-position: center;
}

.background-wrapper {
  background-color: #f8eacc;
  /*background-image: url("./images/kitty.jpeg"); /* Specify your image URL */
  background-size: 50px; /* Set the size of the background image */
  background-repeat: repeat; /* Repeat the image */
}
.container {
  background-color: #ffffff; /* Set a background color for the content area */
  z-index: 1; /* Ensure content appears above the background wrapper */
}

.header-text {
  background-color: #35654d; /* Adjust opacity and color as needed */
  color: #ffffff;
  display: inline-block;
  border-radius: 30px; /* Rounded corners */
  border: 3px solid #b17b05; /* Border style */
}

/* Update footer background and text color */
.footer {
  background-color: #35654d; /* Forest green */
}

.calendar-container {
  max-width: 95%; /* Adjusted to allow stretching closer to the edges */
  margin: auto; /* Keeps it centered */
  border-radius: 5px; /* Optional: rounds the corners */
  padding: 20px; /* Adds some spacing inside the container */
  text-align: center;
}

.calendar-container .row {
  margin: 0;
  border-radius: 5px; /* Optional: adds rounded corners */
  padding: 20px; /* Optional: adds some padding inside the background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border: 3px solid #35654d;
}

.calendar-container .calendar-title {
  font-family: "Patrick Hand", cursive;
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-color: #35654d;
  border-radius: 15px; /* Rounded corners */
  border: 3px solid #b17b05; /* Border style */
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
}

.calendar-container .card-title {
  background-color: #f03f3f; /* Bootstrap primary color */
  color: white;
  margin: 0px; /* Removes any default margin */
  padding: 10px 15px; /* Adjust padding as needed, but keep it uniform */
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Patrick Hand", cursive;
  font-size: 30px;
  text-align: center;
}
.calendar-container .card-body {
  background-color: #f8f9fa; /* Light gray background */
  padding: 0; /* Adjust padding as needed, but keep it uniform */
  border-bottom: 1px solid #ddd; /* Light border at the bottom */
  border-radius: 5px;
}

.calendar-container .card-text {
  padding: 10px;
}

/* so that dont touch the card tittle text */
.card-text li {
  margin-bottom: 15px; /* Adjust the value as needed */
}

/* stuff for the answer.html pae -------------------------------------*/
.btn-square {
  width: 300px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
  font-size: 20px; /* Adjust font size as needed */
  padding: 0;
  border-radius: 50%; /* Optional: removes the rounded corners for a more square look */
}
#resetButton {
  display: none; /* Initially hidden */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 50px; /* Adjust font size as needed */
  position: fixed; /* Use fixed or absolute positioning */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Adjust based on the button's size to center it */
  cursor: pointer; /* Change cursor to pointer on hover */
}
#redButton {
  background-color: rgb(203, 0, 44);
}
#blueButton {
  background-color: rgb(19, 104, 206);
}
#greenButton {
  background-color: rgb(216, 158, 0);
}
#yellowButton {
  background-color: rgb(38, 137, 12);
}

/* Ensure the content is scrollable if it exceeds the viewport height */
