/* Global Styles */
body {
  font-family: "Noto Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
  list-style-type: none;
}

/* Layout and Structure */
section {
  padding: 20px;
}

h1 {
  font-size: 3rem; /* Adjust size as needed */
  font-family: "Noto Sans", sans-serif;
}

/* Typography */
h2 {
  /* font-family: "Patrick Hand", cursive; */
  font-size: 2rem; /* Adjust size as needed */
}

/* Components and Reusable Elements */

#aboutText {
  background-color: rgba(240, 248, 255, 0.5); /* AliceBlue with 50% opacity */
  border-radius: 5%; /* Optional: adds rounded corners */
  padding: 20px; /* Optional: adds some padding inside the background */
}

/* Specific Element Styles */
.card-text li {
  background-image: url("../images/catFace2.png");
  background-repeat: no-repeat;
  background-size: 15px 15px; /* Adjust as needed */
  padding-left: 25px; /* Adjust based on image size */
  background-position: left center;
}

.selfie {
  border: 3px solid black;
  padding-top: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  border-radius: 10px;
}

.headerImage {
  background-image: url("../images/yo2.jpg");
  background-size: cover;
  background-position: center;
}

.background-wrapper {
  background-color: #f8eacc;
  /*background-image: url("./images/kitty.jpeg"); /* Specify your image URL */
  /* background-size: 50px; /* Set the size of the background image */
  /*background-repeat: repeat; Repeat the image */
}
.container {
  background-color: #ffffff; /* Set a background color for the content area */
  z-index: 1; /* Ensure content appears above the background wrapper */
}

.header-text {
  background-color: #35654d; /* Adjust opacity and color as needed */
  color: #ffffff;
  display: inline-block;
  border-radius: 30px; /* Rounded corners */
  border: 3px solid #b17b05; /* Border style */
}

/* Update footer background and text color */
.footer {
  background-color: #35654d; /* Forest green */
}

.calendar-container {
  max-width: 95%; /* Adjusted to allow stretching closer to the edges */
  margin: auto; /* Keeps it centered */
  border-radius: 5px; /* Optional: rounds the corners */
  padding: 20px; /* Adds some spacing inside the container */
  text-align: center;
}

.calendar-container .row {
  margin: 0;
  border-radius: 5px; /* Optional: adds rounded corners */
  padding: 20px; /* Optional: adds some padding inside the background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border: 3px solid #35654d;
}

.section-title {
  display: block; /* Ensure it's treated as a block-level element */
  max-width: 35%; /* Adjust this value as needed */
  margin: 0 auto;
  font-family: "Patrick Hand", cursive;
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-color: #35654d;
  border-radius: 15px; /* Rounded corners */
  border: 3px solid #b17b05; /* Border style */
  padding: 10px;
  margin-bottom: 30px;
}

.calendar-container .card-title {
  background-color: #f03f3f; /* Bootstrap primary color */
  color: white;
  margin: 0px; /* Removes any default margin */
  padding: 10px 15px; /* Adjust padding as needed, but keep it uniform */
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Patrick Hand", cursive;
  font-size: 30px;
  text-align: center;
}
.calendar-container .card-body {
  background-color: #f8f9fa; /* Light gray background */
  padding: 0; /* Adjust padding as needed, but keep it uniform */
  border-bottom: 1px solid #ddd; /* Light border at the bottom */
  border-radius: 5px;
}

.calendar-container .card-text {
  padding: 10px;
}

/* so that dont touch the card tittle text */
.card-text li {
  margin-bottom: 15px; /* Adjust the value as needed */
}

/* stuff for the answer.html pae -------------------------------------*/

/* Ensure the content is scrollable if it exceeds the viewport height */

#AlphabetGame {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #d3e6bb;
}

#crisImageContainer {
  position: fixed;
  bottom: 50%;
  left: 2rem;
  width: 12vw;
  /* border-radius: 50%; */
}
#crisImageContainer.hidden {
  display: none !important;
  /* border-radius: 50%; */
}

#crisImageContainer img {
  width: 100%;
  height: auto;
}

#AlphabetScreen {
  font-family: "ABeeZee", serif;
  flex: 1;
  font-size: 5vh;
  display: flex;
  background-color: #e9e9c7;
  margin-inline: 15rem;
  border-radius: 5rem;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

#AlphabetScreen div {
  padding-inline: 0.5rem;
  background-color: #ffffff;
  border-radius: 5%;

  height: fit-content;
}

#AlphabetScreen.hidden {
  display: none !important;
}

#chooseNextLetter {
  flex: 1;
  margin-top: 3rem;
  font-size: calc(10vw + 10vh);
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

#chooseNextLetter.hidden {
  display: none !important;
}

.choice {
  font-family: "ABeeZee", serif;
  transition: color 1s ease; /* Add transition for smooth color change */
  border: 2px solid rgb(162, 162, 92);
  width: 20vw; /* Set a fixed width */
  height: 20vw; /* Set a fixed height */
  background-color: #f8e787;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.choice:hover {
  color: rgb(218, 141, 0);
  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Example shadow */
  border: 2px solid rgb(218, 141, 0);
  cursor: pointer;
}

.choice:active {
  color: rgb(241, 241, 241);
  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Example shadow */
  width: 21vw; /* Set a fixed width */
}

#stopwatch {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 10vh;
  color: #2b0501;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Example shadow */
}

#gameControls {
  flex: 1;
  background-color: #f8e787;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#gameControls.hidden {
  display: none !important;
}
#gameControls div {
  display: flex;
  padding: 5px;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(182, 97, 0);
  width: 20%;
  height: 60%;
  border-radius: 3%;
}

#gameControls div button {
  background-color: rgb(166, 113, 16);
  font-size: 8vh;
  border-radius: 50%;
  color: #f8e787;
  text-wrap: none;
}
#gameControls div button:hover {
  background-color: rgb(218, 141, 0);
  color: #000000;
}

#endGameMessege {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  color: #2b0501;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Example shadow */
}
#endGameMessege.hidden {
  display: none !important;
}
