<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">  <!-- Main website CSS -->
  <link rel="stylesheet" href="/css/blog.css">   <!-- Blog-specific CSS -->
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
